.head__block {
  max-width: 1045px;
  margin: 0 auto;
}

.head__title {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  padding-bottom: 72px;
}

.head__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.head__content-list {
  width: 285px;
  &::before {
    content: "";
    width: 40px;
    height: 49px;
    background-repeat: no-repeat;
    background-image: url(../../img/head-icon1.svg);
    display: inline-block;
  }
}

.head__content-list:nth-child(2)::before {
  content: "";
  width: 51px;
  height: 49px;
  background-repeat: no-repeat;
  background-image: url(../../img/head-icon2.svg);
  display: inline-block;
}

.head__content-list:nth-child(3)::before {
  content: "";
  width: 49px;
  height: 43px;
  background-repeat: no-repeat;
  background-image: url(../../img/head-icon3.svg);
  display: inline-block;
}

.head__content-title {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
  margin-bottom: 24px;
  padding-top: 45px;
}

.head__content-item a{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

@media screen and (max-width:892px) {
  .head__content-title {
    font-size: 24px;
  }
}
@media screen and (max-width:689px) {
  .head__content {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .head__content-list {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .head__title {
    text-align: center;
  }
}